
.dody{
    background: #000000;
}

.header{
    font-size: 20px;
        color: rgb(255, 255, 255);
        background: #000000;
        height: 50px;
        padding: flex;
        padding-top: 10px;
        text-align: center;
}

.card{
    width: 200px;
    align-self: start;
}


.container{
    grid-auto-flow: column;
    padding-top: 10px;
   
}

.spacing{
    padding: flex;
    margin: 10px;
}

#botonpago{
  
    width: 335px;
}

.imgRedonda {
    width:100px;
    height:100px;
    border-radius:150px;
    text-align: center;
    stroke: black;
    
}