
#dody {
  color: #000000;
}

.header{
    font-size: 20px;
        color: rgb(255, 255, 255);
        background: #000000;
        height: 50px;
        padding: flex;
        padding-top: 10px;
        text-align: center;
}

.card{
    width: 200px;
    align-self: start;
}


.container{
    grid-auto-flow: column;
    padding-top: 10px;
   
}

.spacing{
    padding: flex;
    margin: 10px;
}

#imagen{
  position: absolute;
  width: 74px;
  height: 74px;
  left: 82px;
  top: 43px;
  
  background: url(50762676_2054760484616362_2041411201467940864_n.png);
  border: 1px solid #F7F7F7;
  box-sizing: border-box;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25))
}

#botonpago{
  
    width: 335px;
}

.imgRedonda {
    width:100px;
    height:100px;
    border-radius:150px;
    text-align: center;
    stroke: black;
    
}

.fuente {
    font-family:  'Arial Narrow Bold';
    font-size: 16px;
    position: absolute;
    width: 200px;
    height: 21px;
    left: -10px;
    top: 0px;
      
}

.fuente2 {
    font-family:'Arial Narrow';
    font-size: 12px;
    position: absolute;
    width: 55px;
    height: 15px;
    left: -40px;
    top: 30px;
    
}

#bordes{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    background-color: #464646;
    color: #ffffff;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#camarero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    
    position: absolute;
    width: 123px;
    height: 34px;
    left: -90px;
    top: 85px;
    color: #ffffff;
    background: #FFA95A;
    border-radius: 20px;
}

#buscar {
    position: absolute;
    width: 85px;
    height: 24px;
    left: 80px;
    top: 85px;
}

#submenu{

   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 0px;

   position: absolute;
   width: 411;
   height: 25px;
   left: 0px;
   right: 0px;
   top: 230px;
   
    
}

#cabecera {
 position: absolute;
 grid-auto-rows: 10px;
 width: 411px;
 height: 194px;
 left: 0px;
 top: 0px;
 background: #ffffff;
 border-radius: 0px 0px 40px 40px;
}

#restaurante{
  position: absolute;
  width: 158px;
  height: 36px;
  left: 169px;
  top: 62px;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #04AA6D;
  color: white;
}

.round {
  border-radius: 50%;
}

#nombredelplato {
  height: 400px;
  font-size: 8px;
  position: absolute;
  left: 6.33%;
  right: 34.55%;
  top: 284px;
  bottom: 62.58%;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #222222;
}

#detallesplato {
  position: absolute;
  left: 6%;
  right: 34.55%;
  top: 328px;
  bottom: 57.59%;
  
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 18px;
  
  color: #626262;
}

#precio {
  position: absolute;
  left: 6.33%;
  right: 68.53%;
  top: 369px;
  bottom: 53.22%;
  
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  
  
  color: #626262;
}

#imagenmenu{
  position: absolute;
  left: 284px;
  right: 6.01%;
  top: 284px;
  bottom: 53.34%;
  
  background: url(b88b2ad72291abce212b8640b141895b.jpg);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#fondoplatos{
  position: absolute;
  width: 400px;
  height: 150px;
  left: 6px;
  top: 259px;
  
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

#agrearplato{
  position: absolute;
  width: 111px;
  height: 30px;
  left: 163px;
  top: 360px;
  
  color: #ffffff;
  background: #FFA95A;
  border-radius: 20px;

}